<html>
    <head>
        <h1>Search:</h1>
    </head>
    <body>
        <h1>{{ x }}</h1>
        <form method="post" name="booksearch">
            {% csrf_token %}
            {{ form.as_p }}
            <input type = submit value="Search">
        </form>
{#        <h1>Book List:</h1>#}
{#            {% for key, values in books.items%}#}
{#            <h3>{{key.title}}</h3>#}
{#            <p>{{ key.publishedDate }}</p>#}
{#            <p>{{ key.type }}</p>#}
{#            <p>{{ key.identyfire }}</p>#}
{#            <p>{{ key.pageCount }}</p>#}
{#            <p>{{ key.imageLinks }}</p>#}
{#            <p>{{ key.language }}</p>#}
{#            {% endfor %}#}
    </body>
</html>